<form method="post" action="{{ path('fonction_delete', {'id': fonction.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cette fonction ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ fonction.id) }}">
    <button type="submit" class="button third">Supprimer</button>
</form>
