{% extends 'base.html.twig' %}

{% block title %}New Fonction{% endblock %}

{% block body %}
<div class="page-container container-full flex gap direction-column align-center">
    <h1>Créer une nouvelle fonction</h1>
    <div class="large-12-12 flex gap">
        <a class="button secondary" href="{{ path('fonction_index') }}" title="Retour à la liste">Retour à la liste</a>
    </div>
    {{ include('fonction/_form.html.twig') }}
</div>
{% endblock %}
