/********** Import des fichiers de base ***********/
@import "./reset.scss";
@import "./variables.scss";
/********** Import des composants ***********/
@import "./components/_layout.scss";
@import "./components/_flexbox.scss";
@import "./components/_menu-burger.scss";
@import "./components/_switch.scss";

/********** Règles Générales ***********/
// Mise en place des polices de caractère générales
body {
    font-family: var(--fontTexte), sans-serif;
    background-color: var(--fifthColor);
}
// Titres
h1,h2,h3,h4,h5,h6 {
    font-family: var(--fontTitre), sans-serif;
}
h1, h2 {
    width: 100%;
    text-align: center;
    font-weight: 700;
    margin-bottom: 20px;
}

h1 {
    color: var(--secondColor);
    margin-bottom: 20px;
    font-size: 40px;
}

h2 {
    color: var(--firstColor);
    text-align: left;
    font-size: 32px;
}

h3 {
    font-weight: 700;
    color: var(--firstColor);
    font-size: 24px;
}
// Boutons
@mixin button-styles($bg-color) {
    color: white;
    padding: 8px 16px;
    border: none;
    transition: all 0.3s;
    background-color: $bg-color;
    width: -moz-fit-content;
    width: fit-content;
    cursor: pointer;
    border-radius: 5px;
    font-weight: 700;
}

@mixin button-hover {
    &:hover {
        opacity: 0.8;
    }
}
.button {
    @include button-styles(var(--firstColor));
    @include button-hover;

    &.primary {
        background-color: var(--firstColor);
    }

    &.secondary {
        background-color: var(--secondColor);
        color: var(--firstColor);
    }

    &.third {
        background-color: var(--thirdColor);
        color: var(--whiteColor);
    }

    &.disabled {
        background-color: var(--thirdColorAlt);
        color: var(--thirdColor);
    }
}
// Liens
a {
    text-decoration: none;
    color: var(--secondColor);
}
// Modal des messages flash
div.modal-flash {
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: 350px;

    >div {
        padding: 20px;
    }
    .error {
        background-color: var(--errorColor);
    }
    .success {
        background-color: var(--succesColor);
    }
    .info {
        background-color: var(--infoColor);
    }
}
// Display none
.display-none {
    display: none;
}
// Compensation du header
.fixed-header{
    height: 80px;
    width: 100%;
}
// Image
.responsive {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
// Header
header {
    height: 80px;
    font-size: 24px;
    background-color: var(--secondColor);
    position: fixed;
    top: 0;
    left: 0;
    padding: 0 40px;

    nav {
        a {
            font-family: var(--fontTitre);
            color: var(--firstColor);
            font-weight: 700;
        }
    }
}
// Div avec le contenu des pages
.page-container {
    padding: 40px 0;
}
// Filtres des listes
.filtres {
    background-color: var(--whiteColor);
    padding: 20px;
    border-radius: 16px;

    form {
        display: flex;
        align-items: center;
        gap : 20px;

        &>div {
            width: fit-content;
        }
    }
}
// Input
input, select {
    height: 30px;
    border-radius: 8px;
    padding-left: 8px;
    border: 1px solid black;
}
// Pagination des listes
.navigation {
    background-color: var(--whiteColor);
    padding: 20px;
    border-radius: 16px;
}
// Article
article {
    border: 1px solid var(--fourthColor);
    border-radius: 8px;
    background-color: var(--whiteColor);

    .description-article {
        padding: 10px;
    }

    img {
        border-radius: 8px 0 0 8px;
    }
}
// Formulaire
form {

    &>div {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        
        &>div {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }

        label {
            width:100%;
        }
    }

    input,select {
        width: 100%;
        margin: 10px 0;
    }

    input[type=file] {
        padding: 10px;
        height: fit-content;
    }

    button[type=submit]{
        @include button-styles(var(--firstColor));
        @include button-hover;

        font-family: var(--fontTexte);
        font-size: 16px;
    }
}
// Tableau
table {
    background-color: var(--whiteColor);
    border-radius: 8px;

    tr {
        height: 40px;
    }

    th {
        background-color: var(--secondColor);
        color: var(--firstColor);
    }

    td {
        padding-left: 8px;
    }
}
// Séparateur
.separateur {
    width: 90%;
    height: 1px;
    background-color: var(--secondColor);
}
/********** Page de login **********/
#page-connexion{
    width: 100vw;
    height: 100vh;

    form {
        background-color: var(--secondColor);
        padding: 40px;
        border-radius: 8px;

        label {
            color: var(--whiteColor);
            font-weight: 700;
        }
    }
}