/* Classes pour les flexbox */
.flex {
    display: flex;
    flex-wrap: wrap;
}
.no-wrap {
    flex-wrap: nowrap;
}
.direction-column {
    flex-direction: column;
}
.justify-center {
    justify-content: center;
}
.justify-between {
    justify-content: space-between;
}
.justify-around {
    justify-content: space-around;
}
.justify-end {
    justify-content: flex-end;
}
.justify-start {
    justify-content: flex-start;
}
.align-center {
    align-items: center;
}
.align-end {
    align-items: flex-end;
}
.align-start {
    align-items: flex-start;
}
.content-center {
    align-content: center;
}
.content-start {
    align-content: flex-start;
}
.align-self-start{
    align-self: flex-start;
}
.align-self-center{
    align-self: center;
}
.gap {
    gap: var(--gouttiere);
}

/* Classes spécifiques pour de la mise en page en format medium/small */
@media all and (max-width : $maxWidthMedium) {
    .direction-column-reverse-responsive {
        flex-direction: column-reverse;
    }

    .direction-column-responsive {
        flex-direction: column;
    }
}